<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tech Talk</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <a id="myNewPost" href="/newpost"><span id="plus">&#43;</span> New Post</a></li>
        <li><a href="/signup">Sign-Up</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
<h1 class="myPosts">{{user_name}}</h1>
  <div class="dashboard-container">
    {{#each blogs as |blog|}}
    {{>dashboard-details}}
    {{/each}}
  </div>