<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/signup">Sign-Up</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </div>
  </nav>
  <div class="button-container">
  <a class="waves-effect waves-light btn-large home-button" href="/signup">Sign in</a>
  <a class="waves-effect waves-light btn-large home-button" href="/login">Log in</a>
  </div>