<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tech Talk</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/signup">Sign-Up</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <div class="newPostContainer">
  <h1>New Post</h1>
  <div class="row newPostTxt">
    <form class="col s12 post-form">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="title-area" class="materialize-textarea"></textarea>
          <label for="title-area">title</label>
        </div>
      </div>
  </div>
  <div class="row newPostTxt">
    
      <div class="row">
        <div class="input-field col s12">
          <textarea id="body-area" class="materialize-textarea"></textarea>
          <label for="body-area">body</label>
        </div>
      </div>
       <button class="waves-effect waves-light btn-small">Post</button>
    </form>
  </div>

        <script src="js/newPost.js"></script>
  </div>