<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tech Talk</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Log-in</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </div>
  </nav>
  <div class="signupForm">
  <h1>Sign-Up</h1>
  <form action="">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button id="sign-btn" class="waves-effect waves-light btn">Submit</button>
    </form>
  </div>
  </div>
  <script src="\js\signup.js"></script>